body {
    background-color: #111111;
    font-family: 'Quicksand', 'Sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    color: #c8c8c8;
}

input {
    background-color: #d8d8d8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}